@page "/SignIn"
@page "/SignIn/{AccessToken}/{*RefreshToken}"

@using Order.Client.Components.Form
@using Order.Client.Components.Misc
@using Order.Shared.Dto
@using Order.Shared.Constants.Users

@namespace Order.Client.Pages

@* ========================================== SignIn Form =============================================================
*@

<EditForm Model=@UserSignInData OnValidSubmit=@HandleSignInFormSubmition @onclick=@(() =>
    NotificationModal.CloseAsync())>

    <ObjectGraphDataAnnotationsValidator />

    <div class="form-container @disabledPage @bluredPage">

        <h1 class="form-header">@M.SignIn</h1>

        <div>
            <OInputText CssClass="form-input" PlaceHolder=@M.Email @bind-Value=@UserSignInData.Email />
            <ValidationMessage For=@( () => UserSignInData.Email ) />
        </div>

        <div>
            <OInputText IsSensitiveInput=@true CssClass="form-input" PlaceHolder=@M.Password
                @bind-Value=@UserSignInData.Password />
            <ValidationMessage For=@( () => UserSignInData.Password) />
        </div>

        <Button CssClass="form-submit" Type="submit" Label=@M.Login />

        <div class="redirection">
            <a @onclick=@ResetPasswordModalShow>@M.ForgotPassword</a>
        </div>

        <LineTextSeparator Text=@M.ContinueWith />

        <div class="social-logins">
            <SocialMediaButton CssClass="social-login-button" SocialMediaPath=@SocialSpritePath ImagesInSprite=3
                Translate=0 @onclick=@(() => CheckoutConsentScreen(new
                ValueWrapperDto<string>(ExternalIdentityProviders.FACEBOOK))) />
            <SocialMediaButton CssClass="social-login-button" SocialMediaPath=@SocialSpritePath ImagesInSprite=3
                Translate=50 @onclick=@(() => CheckoutConsentScreen(new
                ValueWrapperDto<string>(ExternalIdentityProviders.GOOGLE))) />
            <SocialMediaButton CssClass="social-login-button" SocialMediaPath=@SocialSpritePath ImagesInSprite=3
                Translate=100 @onclick=@(() => CheckoutConsentScreen(new
                ValueWrapperDto<string>(ExternalIdentityProviders.LINKEDIN))) />
        </div>

        <div class="redirection">
            @M.AskForAccountAbsence <a href="/SignUp" class="redirect">@M.SignUpRedirect</a>
        </div>

    </div>
</EditForm>

@* ========================================== Reset Password Form =====================================================
*@

<EditForm Model=@RequestResetPassword OnValidSubmit=@HandleResetPasswordFormSubmit>

    <ObjectGraphDataAnnotationsValidator />

    <div class="@disabledPage">
        <Modal @ref=@resetPasswordModal CssClass="reset-pw-modal">
            <div class="reset-pw-input">
                <OInputText CssClass="form-input" PlaceHolder=@M.Email @bind-Value=@RequestResetPassword.Email />
                <ValidationMessage For=@( () => RequestResetPassword.Email ) />
            </div>
            <div class="reset-pw-buttons">
                <Button CssClass="reset-pw-button" Type="submit" Label=@M.Send />
                <Button CssClass="reset-pw-button" Label=@M.Cancel @onclick=@HandleResetPasswordCanceled Danger=@true />
            </div>
        </Modal>
    </div>

</EditForm>
